body .hero {
  margin: 1.8rem;
  text-align: center;
  margin-top: 4rem;

  @include breakpoint(medium) {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    max-width: $MaxWidth;
    padding: 1.8rem;
    margin: 0% auto;
    margin-top: 4rem;
    > div {
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  &__img {
    > img {
      width: 100%;
      max-width: 630px;
      margin: 0% auto;
    }
  }
  &__text {
    margin-top: 2rem;
    @include breakpoint(medium) {
      margin-top: 3rem;
    }
    h1 {
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 0%;
      @include breakpoint(small) {
        font-size: 2.3rem;
        width: 90%;
        margin: 0% auto;
      }
      @include breakpoint(medium) {
        font-size: 2.3rem;
        width: 80%;
        margin: unset;
      }
      @include breakpoint(large) {
        width: 89%;
        font-size: 3rem;
      }
      span {
        color: $LightBlue;
      }
    }
    p {
      font-size: 1.125rem;
      @include breakpoint(small) {
        width: 70%;
        margin: 0% auto;
        margin-top: 1rem;
      }
      @include breakpoint(medium) {
        width: 70%;
        margin: unset;
        margin-top: 1rem;
      }
    }
    .cta__btn {
      margin-top: 3rem;
      a {
        @include button(false);
      }
    }
  }
}
