body .hero {
  margin: 1.8rem;
  margin-top: 2.5rem;
  text-align: center;
  &__img {
    img {
      width: 100%;
      max-width: 37.8rem;
    }
  }
  &__text {
    margin-top: 2.1rem;
    h1 {
      font-size: 1.8rem;
      font-weight: 800;
      @include breakpoint(medium) {
        width: 80%;
      }
      @include breakpoint(large) {
        font-size: 2.7rem;
        margin-bottom: 0%;
      }
      span {
        color: $Orange;
      }
    }
    p {
      font-size: 1.125rem;
      line-height: 1.5;
      @include breakpoint(medium) {
        width: 80%;
      }
    }
  }
  .cta-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: flex-start;
      button {
        &.watchVideo {
          margin-top: 0% !important;
        }
      }
    }
    button {
      border: none;
      padding: 0.9em 2em;
      font-size: 1rem;
      cursor: pointer;
      &.getStarted {
        background-color: $Orange;
        border-radius: 0.25rem;
        color: #fff;
        font-weight: 800;
        font-style: normal;
        font-size: 1rem;
        transition: 300ms ease opacity;
        &:hover {
          opacity: 0.75;
        }
      }
      &.watchVideo {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        color: $Orange;
        background-color: transparent;
        span {
          text-decoration: underline;
          margin-left: 0.5rem;
        }
      }
    }
  }
  @include breakpoint(medium) {
    display: flex;
    flex-direction: row-reverse;
    max-width: $maxWidth;
    margin: 0% auto;
    padding: 2.2rem;

    > div {
      flex-basis: 0%;
      flex-grow: 1;
      text-align: left;
    }
  }
}
