.hero .hero-bg {
  position: absolute;
  height: 110vh;
  width: 100%;
  top: 0%;
  left: 0%;
  background: url(../../asset/hero_bg.png);
  background-size: cover;
  background-position: top center;
  z-index: -1;
  @include breakpoint(medium) {
    height: 122vh;
  }
}
.hero {
  margin-bottom: 4rem;
}

.hero .hero__text {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 0;
    max-width: 18ch;
  }
  p {
    width: 22ch;
    text-align: center;
    color: #cfcfcf;
    @include breakpoint(small) {
      width: 40ch;
    }
  }
  .cta-btn {
    margin-top: 1.5rem;
    a {
      display: inline-block;
      @include button(false);
    }
  }
}
