$primary: hsl(209, 94%, 55%);

$hamburgarColor: hsl(0, 0%, 100%);
$menuBackground: hsl(0, 0%, 100%);
$paraColor: hsl(213, 5%, 39%);
$headingColor: hsl(225, 6%, 13%);
$footerBg: hsl(228, 28%, 20%);

// Fontsizes

$h1Small: 2rem;

// Maxwidth

$maxwidth: 72em;
